<?xml version="1.0" encoding="utf-8"?>
<!--
  Lets the local Marketplace host (http://localhost:5173) call the Authoring GraphQL API
  straight from the browser, the way Cloud Portal does. Replaces the policy from
  App_Config\Include\Sitecore.GraphQL.config, keeping its cloud origin.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <corsPolicies type="Sitecore.Owin.Cors.CorsPolicies, Sitecore.Owin">
      <policies hint="list:AddPolicy">
        <corsPolicy type="Sitecore.Owin.Cors.CorsPolicy, Sitecore.Owin"
                    patch:instead="corsPolicy[name='Sitecore GraphQL API v1']">
          <name>Sitecore GraphQL API v1</name>
          <api>/sitecore/api/authoring/graphql/v1</api>
          <allowedOrigins hint="list:addOrigin">
            <allowedOrigin name="sitecoresaasapps">$(env:SITECORE_GraphQL_CORS)</allowedOrigin>
            <allowedOrigin name="localmarketplace">http://localhost:5173</allowedOrigin>
          </allowedOrigins>
        </corsPolicy>
      </policies>
    </corsPolicies>
  </sitecore>
</configuration>
